/* General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Navigation Bar (Top) */
#main-navbar {
    background-color: blue;
    width: 100%;
}

#navbar-container {
    width: 100%;
    text-align: center; /* Center the navigation */
}

#navbar-container ul {
    list-style-type: none;
    overflow: hidden;
    padding: 0;
}

#navbar-container ul li {
    display: inline-block;
}

#navbar-container ul li a {
    display: block;
    padding: 10px 20px;
    color: #fff;
    text-decoration: none;
    background-color: #000;
    text-decoration: underline overline;
}

#navbar-container ul li#onpage a {
    background-color: #ff5733; /* Active page background color */
    color: yellow;
}

/* Sidebar (Side Navigation) */
#sidebar {
    position: fixed;
    right: 0;
    top: 0;
    background-color: red;
    height: 100%;
    width: 20%;
    list-style-type: none;
    text-align: center;
    padding: 0;
}

#sidebar-container ul {
    padding: 15px 0;
}

#sidebar-container ul li a {
    display: block;
    padding: 10px;
    color: #fff;
    text-decoration: none;
    background-color: #000;
}
