/* Base styles for the navigation links */
#navbar-container ul li a {
    display: block;
    padding: 10px 20px;
    color: #fff;
    text-decoration: none;
    background-color: #000;
    text-decoration: underline overline;
}

/* Highlight the active page link */
#navbar-container ul li#onpage a {
    background-color: #ff5733;  /* Example active page background color */
    color: yellow;  /* Optionally change text color for the active link */
}
