/* For Navigation */
#main-navbar {
  background-color: blue;
  overflow: hidden;
  float: left;
  width: 100%;
  position: relative;
  list-style-type: none;
  margin: 0;
  padding: 0;
  left: 50%;
  float: left;
  position: relative;
  right: 50%;
  display: block;
  padding: 10px 20px;
}

#main-navbar ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

#main-navbar li {
  display: inline-block;
}

#main-navbar a {
  display: block;
  color: #fff;
  text-decoration: underline overline;
  background-color: #000;
  padding: 10px 20px;
  text-align: center;
  width: 100%;
}

/* For Sidebar */
#sidebar {
  position: fixed;
  right: 0;
  background-color: red;
  height: 100%;
  width: 20%;
  list-style-type: none;
  text-align: center;
  padding: 0;
  display: block;
}

#sidebar-container {
  padding: 15px 0;
}

#sidebar a {
  display: block;
  color: #fff;
  text-decoration: none;
  background-color: #000;
  padding: 10px 0;
}
